:root {
  --color-primary: #181d2a;
  --color-secundary: #0a0f18;
  --color-tertiary: #fff;
  --color-botton: #eb1d1d;
  --font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
  background-color: var(--color-secundary);
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: var(--color-tertiary);
  margin: 0;
}

#main {
  margin: 30px 15px;
  padding: 20px;
  border-radius: 5px;
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.topnav {
  overflow: hidden;
  background-color: var(--color-secundary);
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
}

.topnav button {
  float: left;
  display: block;
  color: var(--color-botton);
  background-color: var(--color-secundary);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 10px;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.topnav button:hover {
  background-color: var(--color-botton);
  color: var(--color-tertiary);
  transition: 0.4s;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.hero-image {
  background-image: url("https://wallpaperaccess.com/full/2454628.png");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: blur(0px);
  margin-bottom: 15px;
  border-radius: 5px;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-tertiary);
}

.hero-text h1 {
  font-size: 85px;
  margin: 0;
}

.hero-text p {
  font-size: 25px;
  margin: 0;
}

.container-cards {
  margin: 30px 15px;
  padding: 20px;
  border-radius: 5px;
  background: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

.card {
  background-color: var(--color-secundary);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  width: 300px;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
  height: 450px;
  transition: 0.4s;
}

.card:hover {
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.6);
  transition: 0.4s;
}

.card img {
  width: 300px;
  height: 350px;
  border-radius: 5px;
  object-fit: contain;
}

.container {
  padding: 2px 16px;
}